<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.beck.good.category.mapper.BeckGoodCategoryMapper">
    
    <resultMap type="BeckGoodCategory" id="BeckGoodCategoryResult">
        <result property="id"    column="id"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
        <result property="delFlag"    column="del_flag"    />
        <result property="name"    column="name"    />
        <result property="icon"    column="icon"    />
        <result property="sort"    column="sort"    />
    </resultMap>

    <resultMap id="BeckGoodCategoryGoodPropertyResult" type="BeckGoodCategory" extends="BeckGoodCategoryResult">
        <collection property="goodsList" notNullColumn="sub_id" javaType="java.util.List" resultMap="BeckGoodPropertyResult" />
    </resultMap>

    <resultMap type="BeckGood" id="BeckGoodPropertyResult">
        <result property="id"    column="sub_id"    />
        <result property="createBy"    column="sub_create_by"    />
        <result property="createTime"    column="sub_create_time"    />
        <result property="updateBy"    column="sub_update_by"    />
        <result property="updateTime"    column="sub_update_time"    />
        <result property="remark"    column="sub_remark"    />
        <result property="delFlag"    column="sub_del_flag"    />
        <result property="name"    column="sub_name"    />
        <result property="price" column="sub_price"/>
        <result property="goodsType" column="sub_goods_type"/>
        <result property="coverImg" column="sub_cover_img"/>
        <result property="goodDesc" column="sub_good_desc"/>
        <result property="packCost" column="sub_pack_cost"/>
        <result property="membershipPrice" column="sub_membership_price"/>
        <result property="minBuyNum" column="sub_min_buy_num"/>
        <result property="unitName" column="sub_unit_name"/>
        <result property="unitValue" column="sub_unit_value"/>
        <result property="salesNum" column="sub_sales_num"/>
        <result property="stockNum" column="sub_stock_num"/>
        <result property="sort" column="sub_sort"/>
        <result property="useProperty" column="sub_use_property"/>
        <result property="goodCategory.id" column="sub_good_category_id"/>
    </resultMap>

    <sql id="selectBeckGoodCategoryVo">
        select
          id,
          create_by,
          create_time,
          update_by,
          update_time,
          remark,
          del_flag,
          name,
          icon,
          sort
        from beck_good_category
    </sql>

    <select id="selectBeckGoodCategoryList" parameterType="BeckGoodCategory" resultMap="BeckGoodCategoryResult">
        <include refid="selectBeckGoodCategoryVo"/>
        <where>  
            <if test="name != null  and name != ''"> and name like concat('%', #{name}, '%')</if>
        </where>
    </select>
    
    <select id="selectBeckGoodCategoryById" parameterType="String" resultMap="BeckGoodCategoryResult">
        <include refid="selectBeckGoodCategoryVo"/>
        where id = #{id}
    </select>

    <select id="selectBeckGoodCategoryListNew" parameterType="BeckGoodCategory" resultMap="BeckGoodCategoryGoodPropertyResult">
        select a.id, a.create_by, a.create_time, a.update_by, a.update_time, a.remark, a.del_flag, a.name,a.icon,a.sort,
          b.id as sub_id, b.create_by as sub_create_by, b.create_time as sub_create_time, b.update_by as sub_update_by, b.update_time as sub_update_time, b.remark as sub_remark, b.del_flag as sub_del_flag, b.name as sub_name,
          b.price as sub_price,
          b.goods_type as sub_goods_type,
          b.cover_img as sub_cover_img,
          b.good_desc as sub_good_desc,
          b.pack_cost as sub_pack_cost,
          b.membership_price as sub_membership_price,
          b.min_buy_num as sub_min_buy_num,
          b.unit_name as sub_unit_name,
          b.unit_value as sub_unit_value,
          b.sales_num as sub_sales_num,
          b.stock_num as sub_stock_num,
          b.sort as sub_sort,
          b.use_property as sub_use_property,
          b.good_category_id as sub_good_category_id
        from beck_good_category a
        left join beck_good b on b.good_category_id = a.id
        order by a.sort asc
    </select>
        
    <insert id="insertBeckGoodCategory" parameterType="BeckGoodCategory">
        insert into beck_good_category
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
            <if test="delFlag != null">del_flag,</if>
            <if test="name != null">name,</if>
            <if test="icon != null">icon,</if>
            <if test="sort != null">sort,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
            <if test="delFlag != null">#{delFlag},</if>
            <if test="name != null">#{name},</if>
            <if test="icon != null">#{icon},</if>
            <if test="sort != null">#{sort},</if>
         </trim>
    </insert>

    <update id="updateBeckGoodCategory" parameterType="BeckGoodCategory">
        update beck_good_category
        <trim prefix="SET" suffixOverrides=",">
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="delFlag != null">del_flag = #{delFlag},</if>
            <if test="name != null">name = #{name},</if>
            <if test="icon != null">icon = #{icon},</if>
            <if test="sort != null">sort = #{sort},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteBeckGoodCategoryById" parameterType="String">
        delete from beck_good_category where id = #{id}
    </delete>

    <update id="deleteByLogicBeckGoodCategoryById" parameterType="String">
      UPDATE beck_good_category SET del_flag = '1' WHERE id = #{id}
    </update>

    <delete id="deleteBeckGoodCategoryByIds" parameterType="String">
        delete from beck_good_category where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <update id="deleteByLogicBeckGoodCategoryByIds" parameterType="String">
        UPDATE  beck_good_category SET del_flag = '1' where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </update>
</mapper>