<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.beck.user.address.mapper.BeckCustomerAddressMapper">
    
    <resultMap type="BeckCustomerAddress" id="BeckCustomerAddressResult">
        <result property="id"    column="id"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
        <result property="delFlag"    column="del_flag"    />
        <result property="name"    column="name"    />
        <result property="sex"    column="sex"    />
        <result property="mobile"    column="mobile"    />
        <result property="address"    column="address"    />
        <result property="doorNumber"    column="door_number"    />
    </resultMap>

    <resultMap id="CustomerAddressMap" type="BeckCustomerAddress" extends="BeckCustomerAddressResult">
        <result property="user.id"    column="user_id"  />
        <result property="user.nickName"    column="nick_name"  />
        <result property="user.realName"    column="real_name"  />
    </resultMap>

    <sql id="tableJoins">
        LEFT JOIN beck_customer b on b.id = a.user_id
    </sql>

    <sql id="selectBeckCustomerAddressVo">
        select
         a.id,
         a.create_by,
         a.create_time,
         a.update_by,
         a.update_time,
         a.remark,
         a.del_flag,
         a.`name`,
         a.sex,
         a.mobile,
         a.address,
         a.door_number,
         a.user_id,
         b.nick_name,
         b.real_name from beck_customer_address a
    </sql>

    <select id="selectBeckCustomerAddressList" parameterType="BeckCustomerAddress" resultMap="CustomerAddressMap">
        <include refid="selectBeckCustomerAddressVo"/>
        <include refid="tableJoins"/>
        <where>  
            <if test="name != null  and name != ''"> and a.`name` like concat('%', #{name}, '%')</if>
            <if test="sex != null  and sex != ''"> and a.sex = #{sex}</if>
            <if test="mobile != null  and mobile != ''"> and a.mobile = #{mobile}</if>
            <if test="address != null  and address != ''"> and a.address = #{address}</if>
            <if test="doorNumber != null  and doorNumber != ''"> and a.door_number = #{doorNumber}</if>
            <if test="delFlag != null  and delFlag != ''"> and a.del_flag = #{delFlag}</if>
            <if test="user != null and  user.id !=null and user.id != ''"> and a.user_id = #{user.id}</if>
        </where>
    </select>
    
    <select id="selectBeckCustomerAddressById" parameterType="String" resultMap="CustomerAddressMap">
        <include refid="selectBeckCustomerAddressVo"/>
        <include refid="tableJoins"/>
        where a.id = #{id}
    </select>
        
    <insert id="insertBeckCustomerAddress" parameterType="BeckCustomerAddress">
        insert into beck_customer_address
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
            <if test="delFlag != null">del_flag,</if>
            <if test="name != null">name,</if>
            <if test="sex != null">sex,</if>
            <if test="mobile != null">mobile,</if>
            <if test="address != null">address,</if>
            <if test="doorNumber != null">door_number,</if>
            <if test="user != null and user.id != null and user.id != ''">user_id,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
            <if test="delFlag != null">#{delFlag},</if>
            <if test="name != null">#{name},</if>
            <if test="sex != null">#{sex},</if>
            <if test="mobile != null">#{mobile},</if>
            <if test="address != null">#{address},</if>
            <if test="doorNumber != null">#{doorNumber},</if>
            <if test="user != null and user.id != null and user.id != ''">#{user.id},</if>
         </trim>
    </insert>

    <update id="updateBeckCustomerAddress" parameterType="BeckCustomerAddress">
        update beck_customer_address
        <trim prefix="SET" suffixOverrides=",">
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="delFlag != null">del_flag = #{delFlag},</if>
            <if test="name != null">name = #{name},</if>
            <if test="sex != null">sex = #{sex},</if>
            <if test="mobile != null">mobile = #{mobile},</if>
            <if test="address != null">address = #{address},</if>
            <if test="doorNumber != null">door_number = #{doorNumber},</if>
            <if test="user != null and user.id != null and user.id != ''">user_id = #{user.id},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteBeckCustomerAddressById" parameterType="String">
        delete from beck_customer_address where id = #{id}
    </delete>

    <delete id="deleteBeckCustomerAddressByIds" parameterType="String">
        delete from beck_customer_address where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <delete id="deleteByLogicById" parameterType="String">
       UPDATE beck_customer_address SET
			del_flag = '1'
		WHERE id = #{id}
    </delete>

    <delete id="deleteByLogicByIds" parameterType="String">
        UPDATE beck_customer_address SET
        del_flag = '1' where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <delete id="deleteBeckCustomerAddressByUserId" parameterType="String">
       UPDATE beck_customer_address SET
			del_flag = '1'
		WHERE user_id = #{userId}
    </delete>

    <delete id="deleteBeckCustomerAddressByUserIds" parameterType="String">
        UPDATE beck_customer_address SET
        del_flag = '1' where user_id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>