<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.beck.customer.mapper.BeckCustomerMapper">
    
    <resultMap type="BeckCustomer" id="BeckCustomerResult">
        <result property="id"    column="id"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
        <result property="delFlag"    column="del_flag"    />
        <result property="loginName"    column="login_name"    />
        <result property="loginPassword"    column="login_password"    />
        <result property="loginPhoto"    column="login_photo"    />
        <result property="nickName"    column="nick_name"    />
        <result property="mobile"    column="mobile"    />
        <result property="wxOpenid"    column="wx_openid"    />
        <result property="customerSource"    column="customer_source" />
    </resultMap>

    <sql id="selectBeckCustomerVo">
        select id, create_by, create_time, update_by, update_time, remark, del_flag, login_name, login_password, login_photo, nick_name, mobile, wx_openid
        ,customer_source
        from beck_customer
    </sql>

    <select id="selectBeckCustomerList" parameterType="BeckCustomer" resultMap="BeckCustomerResult">
        <include refid="selectBeckCustomerVo"/>
        <where>  
            <if test="loginName != null  and loginName != ''"> and login_name like concat('%', #{loginName}, '%')</if>
            <if test="loginPassword != null  and loginPassword != ''"> and login_password = #{loginPassword}</if>
            <if test="loginPhoto != null  and loginPhoto != ''"> and login_photo = #{loginPhoto}</if>
            <if test="nickName != null  and nickName != ''"> and nick_name like concat('%', #{nickName}, '%')</if>
            <if test="mobile != null  and mobile != ''"> and mobile = #{mobile}</if>
            <if test="wxOpenid != null  and wxOpenid != ''"> and wx_openid = #{wxOpenid}</if>
            <if test="delFlag != null  and delFlag != ''"> and del_flag = #{delFlag}</if>
            <if test="customerSource != null  and customerSource != ''"> and customer_source = #{customerSource}</if>

        </where>
    </select>
    
    <select id="selectBeckCustomerById" parameterType="String" resultMap="BeckCustomerResult">
        <include refid="selectBeckCustomerVo"/>
        where id = #{id}
    </select>

    <select id="selectBeckCustomerByOpenId" parameterType="String" resultMap="BeckCustomerResult">
        <include refid="selectBeckCustomerVo"/>
        where wx_openid = #{openid} and del_flag = '0'
    </select>
        
    <insert id="insertBeckCustomer" parameterType="BeckCustomer">
        insert into beck_customer
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
            <if test="delFlag != null">del_flag,</if>
            <if test="loginName != null">login_name,</if>
            <if test="loginPassword != null">login_password,</if>
            <if test="loginPhoto != null">login_photo,</if>
            <if test="nickName != null">nick_name,</if>
            <if test="mobile != null">mobile,</if>
            <if test="wxOpenid != null">wx_openid,</if>
            <if test="customerSource != null">customer_source,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
            <if test="delFlag != null">#{delFlag},</if>
            <if test="loginName != null">#{loginName},</if>
            <if test="loginPassword != null">#{loginPassword},</if>
            <if test="loginPhoto != null">#{loginPhoto},</if>
            <if test="nickName != null">#{nickName},</if>
            <if test="mobile != null">#{mobile},</if>
            <if test="wxOpenid != null">#{wxOpenid},</if>
            <if test="customerSource != null">#{customerSource},</if>
         </trim>
    </insert>

    <update id="updateBeckCustomer" parameterType="BeckCustomer">
        update beck_customer
        <trim prefix="SET" suffixOverrides=",">
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="delFlag != null">del_flag = #{delFlag},</if>
            <if test="loginName != null">login_name = #{loginName},</if>
            <if test="loginPassword != null">login_password = #{loginPassword},</if>
            <if test="loginPhoto != null">login_photo = #{loginPhoto},</if>
            <if test="nickName != null">nick_name = #{nickName},</if>
            <if test="mobile != null">mobile = #{mobile},</if>
            <if test="wxOpenid != null">wx_openid = #{wxOpenid},</if>
            <if test="customerSource != null">customer_source = #{customerSource},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteBeckCustomerById" parameterType="String">
        delete from beck_customer where id = #{id}
    </delete>

    <delete id="deleteByLogicById" parameterType="String">
       UPDATE beck_customer SET
			del_flag = '1'
		WHERE id = #{id}
    </delete>

    <delete id="deleteBeckCustomerByIds" parameterType="String">
        delete from beck_customer where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <delete id="deleteByLogicByIds" parameterType="String">
        UPDATE beck_customer SET
        del_flag = '1' where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>